Flask 
gunicorn==20.1.0
html5lib 
httpcore==0.13.6
httpx==0.18.1
joblib 
json5==0.9.5
jsonschema 
matplotlib 
numpy==1.19.5
numpydoc 
pandas==1.1.3
param==1.12.0
parse==1.19.0
path 
pathlib2 
pathspec==0.7.0
pickleshare 
pkginfo==1.7.0
plotly 
psycopg2==2.9.1
requests==2.26.0
requests-html==0.10.0
requests-oauthlib==1.3.0
scikit-learn 
scipy 
seaborn 