<html>
    <head>
        <title>Final Project</title>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src = "https://d3js.org/d3-request.v1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/styles.css">
        <!-- your custom javascript-->
        <script>

        </script>
        <!-- your custom styles -->
        <style>

        </style>
    </head>
    <body>
        <div class="container-fluid">
            <!-- MAIN HEADER -->
            <div class="row mast-head">
                <div class="col-md-12 sub-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <img src="https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/60993/arizona-square.png" height="90">
                            </div>
                            <div class="col-md-5">
                                <p>University of Arizona : Data Analytics and Visualization Bootcamp</p>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="/" class="active">Home</a></li>
                                    <li><a href="/analysis">Analysis</a></li>
                                    <li><a href="/predict">Predict</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6"><br>
                                <h1>Analyzing concentration of occupation based on location in USA</h1>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- CONTENT BODY -->
            <div class="row">
                <div class="col-md-12 content-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12"><h1>About the Project</h1></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p><h2>Analyzing concentration of occupation based on location in USA</h2></p>
                                <p>In this final project our team has decided to analyze unemployment data in US states and counties, we wanted to see which states and counties<br>
                                   has most unemployment rate.  Question we hope to answer is which state/county has the most unemployed population, with the given features in <br>
                                   the data-set can we predict the unemployment for those states and counties. The BLS data show that the nation's three largest cities have <br>
                                   unemployment rates dramatically higher than the national average of 5.9 percent in June 2021, with Los Angeles and New York at 10.6 percent <br>
                                   and Chicago at 8.2 percent.Reason we choose this topic is our curiosity about the “great resignation” , and what percentage of labor force is actually <br>
                                   unemployed and not contributing to the countries economy. </p> 
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <div class="team-member">
                                    <div class="avatar"></div>
                                    <p>Sangeetha Venu Gopalan</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="team-member">
                                    <div class="avatar"></div>
                                    <p>Khanh Ngo</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="team-member">
                                    <div class="avatar">
                                        
                                    </div>
                                    <p>Ken Paulson</p>
                            
                            
                                </div>    
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p><h2>DataBase</h2></p>
                            <p>We have set up the database that will connect to AWS with our data. We have created tables in postgres to load the dataframes, we used join using SQL<br>
                               and create a new combined data that has the geoid that can be used to train and test the machine model.</p>
                                <img src="https://github.com/reachme1212/final_project/raw/main/images/project_ERD_DB.PNG" alt="projected_erd" style="max-width: 100%;" alt="projected_erd" style="max-width: 100%;">
                            <p><h2>ETL Process</h2></p>
                            <p>Description of getting data, transofming the date, and loading the data.  </p>
                            <p><h2>Machine Learning</h2></p>
                            <p>Data preprocessing improves the data quality by cleaning, normalizing, transforming and extracting relevant feature from raw data. Our raw data came in with columns with data type objects, the machine model we have built can only take in columns with numbers, we have formatted the dataframe “features” in to integer columns, remove null/missing values.
                               Feature engineering and preliminary feature selection: We have initially tried linear regression and we did not get great results , after our team discussion we have come up with random forest regressor model because this technique that combines predictions from multiple machine learning algorithms to make a more accurate prediction than a single model ,then we decided our features and tested how weight of each feature affected the predictions, then we split the data into training and testing 80-20, we have got the very good accuracy score.</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
       
    </body>
</html>


    